/* Global styles for the entire app */
.app-content {
  padding-top: 80px; /* Adjust to match the navbar height */
}

body {
  font-family: 'Arial', sans-serif; /* A more formal font */
  background-color: #f4f4f4;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: #003366;
}
